* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.table-section .inner-section {
  box-shadow: 0 0 5px lightblue;
}

.table-section .card h2 {
  color: rgb(71 85 105);
}

.login {
  box-shadow: 0 0 10px lightblue;
  color: rgb(6 146 181);
}

th {
  padding-block: 1rem;
  background-color: #F9FAFC;
  color: #1B2B44;
  padding-inline: 2rem;
}

tbody tr td {
  padding-block: 1.4rem;
  font-size: 0.9rem;
  padding-inline: 2rem;
  text-align: center;
}

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #2879F3;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
    